<h1>Artist Form</h1>

<%= form_tag artist_path do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :bio %>
  <%= text_field_tag :bio %>

  <%= submit_tag "Create Artist" %>
<% end %>
